<!doctype html>
<html>
<head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - Results</title>
    {% endblock %}
</head>

<body>

<div id="header" align=center>
 <h1>Becky Sullivan</h1>
 <p><a href="/" class="nav">overview</a></p>
 <p>radio</p>
 <p>writing</p>
 <p>programming</p>
 <p>resume</p>
 <p>contact</p>
 <div class="clearfix"></div>
</div>

<div id="content">
  {% block page_content %}
  {% endblock %}
</div>

<div id="footer">
  <p class="footer" align=center>
    &copy; Copyright 2016 by Becky Sullivan
  </p>
</div>
</body>
</html>
