{% extends "base.html" %}

{% block title %}Becky Becky Becky{% endblock %}

{% block page_content %}
<h1>Hello! This is my website.</h1>
<h4><a href="/drugs">check out some drug prices</a></h4>
<div class="img-container">
<img src="/static/colombia.jpg" />
</div>
{% for example in examples %}
<div class="example">
<a href="{{ example["Link"] }}"><span class="example"></span></a>
<div class="img-container">
<img src="{{ "/static/" + example["Image"] }}">
</div>
<div class="text-container">
<h3>{{ example["Headline"] }}</h3>
<p>{{ example["Paragraph"] }}</p>
<p><b>{{ example["Role"] }}</b></p>
</div>
</div>
{% endfor %}
{% endblock %}