{% extends "base.html" %}

{% block title %}Becky Sullivan{% endblock %}

{% block page_content %}
<h2 align=center>portfolio</h2>

{% for example in examples %}
{% set img_url = '../static/' + example['Image'] %}
<div class="example">
<div class="img-container" style="background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.3)), url('{{ img_url }}'); background-size: cover;">
<img src="{{ img_url }}" style="visibility: hidden;" />
<header>
<h3><a href="{{ example["Link"] }}">{{ example["Headline"] }}</a></h3>
</div>
<div class="text-container">
<p>{{ example["Paragraph"] }}</p>
<p><b>{{ example["Role"] }}</b></p>
</div>
</div>
{% endfor %}
{% endblock %}





