{% extends "base.html" %}

{% block title %}Resume{% endblock %}

{% block page_content %}
<div id="container">
<div id="name">
<h1>BECKY SULLIVAN</h1>
</div>
<div id="contact">
<a href="mailto:becsully@gmail.com">becsully@gmail.com</a> +++ <a href="http://twitter.com/becsully">twitter.com/becsully</a> +++ <a href="http://github.com/becsully">github.com/becsully</a>
</div>
<div id="body">
<div class="sectionhead">
<h2>EXPERIENCE</h2>
</div>
<div class="dashes">
////////////////////////////////////////////////////////////
</div>
<div class="position">
<p class="location"><b>National Public Radio</b> - Washington, DC, and Culver City, CA - 2011 to present</p>
<p class="position"><u>Associate/Assistant Producer</u> - <i>All Things Considered</i> and News Desk, 2013 to present</p>
<p class="position"><u>Production Assistant</u> - <i>Morning Edition</i>, <i>Weekend Edition</i>, <i>All Things Considered</i>, <i>Talk Of The Nation</i>, 2011-2013</p>
<p class="position"><u>Intern</u> - Arts Desk, fall 2011</p>
<ul class="resume">
<li>Reliably pitched and produced ideas for news stories and interviews, both current and future</li>
<li>Stepped in to report on breaking sports news for Newscast and NPR.org on the weekends</li>
<li>Embraced WATC’s mandate to “sound like the West” by frequently pitching and producing host- driven pieces in the field</li>
<li>Line produced WATC, planning the show editorially and making day-of decisions to accommodate breaking news</li>
<li>Reported original stories on sports, technology, and entertainment</li>
<li>Directed WATC, special coverage, and emergency recovery scenarios</li>
<li>Operated smoothly under extreme deadline pressure to book, write, and produce segments during breaking news like the Newtown shooting and the 2012 presidential election</li>
<li>Led books coverage at WATC, where I booked and produced/edited 100 author interviews a year</li>
<li>Wrote computer programs in Python to aid in data reporting and tracking the show’s diversity</li>
<li>Promoted to Assistant Producer at the News Desk, where I supported the daily shows with mixes, trained reporters on production techniques, and advised the network on best filing practices</li>
</div>
</div>
{% endblock %}